body {
    margin: 0;
    padding: 0;
    background-image: url("../images/interlaced.png");
}
header {
    border-bottom: 2px solid #cccccc; 
    background-color: white;

}
h1 {
    margin: 0 0 0 17%;
    background-color: #4aaaa5;
    padding: 26px;
    text-align: center;
    color: white;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {

    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    margin: 26px 26px 0 0;
    
    
}

a {
    text-decoration: none;
    color: #777777;
    padding: 0 6px 0 6px;
}

#linkborder {
    border-right: 1px solid #cccccc;

}
section {
    padding: 50px;
    margin-top: 26px; 
   

}

h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding: 16px;
    margin: 0 16px 0 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

}


.contentarea {
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    border: 1px solid #cccccc;

}
.profileimage {
    float: left;
    width: 200px;
    margin: 16px;
}

.gallery {
    width: 200px;
    margin: 16px;
}
.imgcontainer {
    position: relative;
    float: left;
}

.text-block {
    position: absolute;
    left: auto;
    bottom: 16px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 200px;
    margin: 16px;
    padding: 10px 0 10px 0;

}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
